body {
	font: normal 12px auto Verdana, Arial, Helvetica, sans-serif;
	/*background: rgba(247, 247, 247);*/
	
	background: -webkit-linear-gradient(#F7F7F7 0%, #D7D7D7 100%);
}

/* Personal IDs */

#login { 

	height: 150px;
	width: 450px;
	
	background: -webkit-linear-gradient(#74C2E1 0%, #005B9A 100%);
	
    position:absolute;
    top: 35%;
    left: 25%;
    
    padding: 20px 30px 30px 30px;
	
	border-radius: 25px;
}

#login table {
	
	float: left;
}

#login img {
	height: 130px;
	
	float: left;
	padding: 10px 11px 30px 10px;
}

#page { 
	width: 100%; 
	height: 87%;
	margin: 0 auto; 
}					

#content {
	
	width: calc(100% - 290px);
	height: 100%;
	float:left;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 5%;
	
	overflow: scroll;
	
	background-color: white;
}

#content p {
	font-size: large;
}

.line { 
	clear: both; 
	border-bottom: 1px solid #ddd; 
	margin: 0 0 45px; 
}

/* ----------------------------------- HEADER --------------------------------- */

#header {
	
	height:60px;
	width: 100%;
	
	background: rgb(34, 34, 34);
}

#header img {
	height: 60%;
	
	float: left;
	padding: 10px 50px 0px 5px;	
}

#header-title {
    height:100%;
	width: auto;
    
    float: left;
    padding-left: 40px;
}

#header-title span {
    font-size: 24px;
	color: white;
    
    
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: 18px;
}

.social-button {
	height:100%;
	width: 40px;
	
	float:right;
    padding-right: 50px;
}

/* ----------------------------------- SIDEBAR -------------------------------- */

.triangle {
	display: inline-block;
    width: 0px;
    height: 0px;
    border: 30px solid transparent;
    border-right: 30px solid white;
    
    color: green;
    
    float: right;
    position: relative;
    top: 0px;
}

#sidebar {
	
	background-color: rgb(34, 34, 34);
	width: 230px;
	height: 100%;
	float: left;
	margin: 0em;
	padding-top: 5%;	
}

.sidebar-button {	
	height: 60px;
	width: 100%;
	
	border: 0px solid white;
	
	background-color: rgb(34,34,34);	
}

.sidebar-button a {
	color:rgb(153, 153, 153);;
	text-decoration:none;
}

.sidebar-button:hover {
	background-color: rgb(8,8,8);	
}

.sidebar-button:hover a {
	color: white;
	text-decoration:none;
}

.sidebar-button p {
	font-size: 18px;
	color: white;
	text-indent: 20px;
	
	position: relative;
	top: 30%;
}

.sidebar-button img {
    height: 30px;
    
    float: left;
    padding-left: 40px;
    padding-top: 10px;
}

/* ----------------------------------- PROFILE -------------------------------- */

#profile {
	
	height: 90%;
	width: 100%;
	
	padding-top: 50px;
	
	overflow: scroll;
	
	background-color: white;
}

#profile img {
	
	width: 300px;
	
	float: right;
	padding: 0px 0px 30px 30px;
}

#profile .active {
	width: 75px;
	height: 15px;
	
	background-color: #0191C8;
	
	border: 1px solid #0191C8;
	border-radius: 3px;
}


#profile .inactive {
	width: 75px;
	height: 15px;
	
	background-color: grey;
	
	border: 1px solid #cacece;
	border-radius: 3px;
	
}

/* ----------------------------------- NEW TESTS -------------------------------- */

.frame-content {
    border-radius: 10px;
    border: 1px solid rgb(70, 140, 200); 
    
    margin: 20px 10px 10px 10px;
    padding: 0px 0px 5px 0px;
}

.frame-content-title {
    background-color: rgb(70, 140, 200); 
    width: 100%;
    height: 40px;
    
    position: relative;
    top: -18px;
    
    -moz-border-radius: 0px;
    -webkit-border-radius: 7px 7px 0px 0px;
    border-radius: 7px 7px 0px 0px;
}

.frame-content-content {
    width: 94%;
    padding: 0px 30px 0px 30px;
    margin: 0 auto;
    position: relative;
    display: inline-block
}

.frame-content-title p {
    font-size: 18px;
	color: white;
	text-indent: 40px;
    
    position: relative;
    top: 10px;
}

.frame-content li {
    font-size: 18px;
	color: black;
    
    margin: 10px 0;
}

.footer-logo {
    width: 150px;
    text-align: center;
    
    margin-bottom: 50px;
    
    position: relative;
	top: 100px;
    left:40%;
}
